[Unit]
Description=Start the button server
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
Type=idle
ExecStart=/home/sunny/school-project/school-project-linux-arm64
WorkingDirectory=/home/sunny
[Install]
WantedBy=multi-user.target