[Unit]
Description=Start the button server
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
Type=idle
WorkingDirectory=/home/sunny/school-project/
ExecStart=/home/sunny/school-project/school-project-linux-arm64
[Install]
WantedBy=multi-user.target